<% _.forEach(colorSet, function(group, groupName) {
  if (typeof group === 'object') {
    _.forEach(group, function(hex, shade) {
%><%= groupName %>-<%= shade %> = <%= hex %>
<%  });
  } else {
%><%= groupName %> = <%= group %>
<% } %>
<% }); %>
